body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #f7dee0, #fe626f);
    color: #0f0e0e;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 30px;
    text-align: center;
}

.italic{
    font-style: italic;
}

.headd{
    padding-top: 20px;
    font-size: 80px;
}

.logo-cont {
    position: absolute;
    left: 20px;
    padding: 10px;
}

.logo {
    margin-top: 5px;
    width: 180px;
    height: auto;
}


.form-cont {
    text-align: center;
    font-size: 30px;
    height: 100vh;
    max-width: 800px;
    margin: 80px auto 30px auto;
    padding: 35px 15px;
    background: linear-gradient(to bottom right, #fcfaf7, #f9f9f8);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 2, 6, 0.1);
    border: 5px solid #040b2b;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h1 {
    color: #05053b;
    font-size: 1.8em;
}

h2 {
    color: #05053b;
    font-size: 1.3em;
}

label {
    padding: 3px 0;
    font-size: 1em;
    display: block;
}

input[type="text"],
select,
input[type="file"],
input[type="number"] {
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(107, 105, 105);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 18px;
}

input[type="file"] {
    padding: 8px;
    border: none;
}

button {
    background: #b11203;
    margin-top: 30px;
    color: #fff;
    border: none;
    padding: 20px 30px;
    font-size: 0.9em;
    border-radius: 15px;
    cursor: pointer;
    width: 60%;
    transition: background 0.3s ease;
}

button:hover {
    background: #f41707;
}
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 2px;
    border: 3px solid #3f3e3e;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 25px;
}

select>option{
    background-color: #aba9a9;
    font-size: 25px;
}

@media (max-width: 600px) {
    .form-cont {
        padding: 2px;
    }

    h1,
    h2 {
        font-size: 1.3em;
    }
}
