<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="logo">
        <img src="static/images/logo.png" alt="myntra_logo">
    </div>
    <h1>WISHLIST BOT</h1>
    <div class="wishlist-bot">
    <div class="section" id="top-wear">
        <div class="image-scrollbar" id="top-wear-scrollbar">
            <div class="scroll-container">
                {% for image in top_wear %}
                    <img src="{{ image }}" alt="Top Wear">
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="section" id="bottom-wear">
        <div class="image-scrollbar">
            <div class="scroll-container" id="bottom-wear-scrollbar">
                {% for image in bottom_wear %}
                    <img src="{{ image }}" alt="Bottom Wear">
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="section" id="footwear">
        <div class="image-scrollbar" id="footwear-scrollbar">
            <div class="scroll-container">
                {% for image in footwear %}
                    <img src="{{ image }}" alt="Footwear">
                {% endfor %}
            </div>
        </div>
    </div>
    <button class="btn" onclick="scrollToRandomImageAll()">Random</button>
    </div>

    <div id="wishlist">
        <h1>Wishlist</h1>
        <div class="wishlist-sec">
            <h2>Top Wear</h2>
            <div id="w_topwear" class="wish_sub">
                <div class="photo">
                    {% for image in top_wear %}
                        <img src="{{ image }}" alt="Wishlist Top Wear">
                    {% endfor %}
                </div>
            </div>
            <h2>Bottom Wear</h2>
            <div id="w_bottomwear" class="wish_sub"> 
                <div class="photo">
                    {% for image in bottom_wear %}
                            <img src="{{ image }}" alt="Wishlist Bottom Wear">
                    {% endfor %}
                </div>
            </div>
            <h2>FootWear</h2>
            <div id="w_footwear" class="wish_sub">
                <div class="photo">
                    {% for image in footwear %}
                            <img src="{{ image }}" alt="Wishlist Footwear">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="static/scripts.js"></script>
    <script src="static/script2.js"></script>
</body>
</html>