body{
    background-color: #d8af5b;
}

.cont{
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 30px auto;
}

.imgg{
    width: 80px;
    position: absolute;
    left: 10px;
    top: 20px;
}

.left{
    flex-basis: 50%;
    font-size: 15px;
    text-align: center;
}

.left button{
    background-color: rgb(193, 228, 193);
    padding: 18px 20px;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid gray;
    border-radius: 10px;
    cursor: pointer;
}

.left button:hover{
    background-color: rgb(115, 243, 185);
    padding: 25px 55px;
    box-shadow: 2px 2px 2px black;
    text-transform: uppercase;
}

.right{
    flex-basis: 50%;
}

.right img{
    margin-top: 30vh;
    width: 40vw;
}